.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.dashboard-site-layout-background {
  background-color: #ffffff;
  border-radius: 2px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dashboard-site-layout-header {
  background-color: transparent !important;
  padding: 0 2px;
  margin: 0 !important;

  display: flex;
  align-items: center;
}

.dashboard-site-layout-header-label {
  font-weight: 900 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  align-items: center;
  color: #133774;
  margin: 0px 8px;
}

.dashboard-container-layout {
  height: 100vh;
}

.dashboard-site-layout {
  margin: 28px 40px 106px 40px;
}

/* sub page style */
.content-title {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #133774;
}

.content-container {
  margin: 90px 300px;
}
